[project]
authors = [{name = "Mosqueteiro"}]
dependencies = []
description = "Advent of Code challenges. Years are separated into branches."
name = "AdventOfCode"
requires-python = ">= 3.11"
version = "0.1.0"

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.pypi-dependencies]
# adventofcode = { path = ".", editable = true }

[tool.pixi.tasks]
day01-test = { cmd = "ipython -i historian_hysteria.py -- --test", cwd = "day01" }
day01 = { cmd = "ipython -i historian_hysteria.py -- -f input.txt", cwd = "day01" }
day02-test = { cmd = "ipython -i red-nosed_reports.py -- --test", cwd = "day02" }
day02 = { cmd = "ipython -i red-nosed_reports.py -- -f input.txt", cwd = "day02" }
day03-test = { cmd = "ipython -i mull_it_over.py -- --test", cwd = "day03" }
day03 = { cmd = "ipython -i mull_it_over.py -- -f input.txt", cwd = "day03" }
day04-test = { cmd = "ipython -i ceres_search.py -- --test", cwd = "day04" }
day04 = { cmd = "ipython -i ceres_search.py -- -f input.txt", cwd = "day04" }
day05-test = { cmd = "ipython -i print_queue.py -- --test", cwd = "day05" }
day05 = { cmd = "ipython -i print_queue.py -- -f input.txt", cwd = "day05" }
day06-test = { cmd = "ipython -i guard_gallivant.py -- --test", cwd = "day06" }
day06 = { cmd = "ipython -i guard_gallivant.py -- -f input.txt", cwd = "day06" }
day07-test = { cmd = "ipython -i bridge_repair.py -- --test", cwd = "day07" }
day07 = { cmd = "ipython -i bridge_repair.py -- -f input.txt", cwd = "day07" }
day08-test = { cmd = "ipython -i resonant_collinearity.py -- --test", cwd = "day08" }
day08 = { cmd = "ipython -i resonant_collinearity.py -- -f input.txt", cwd = "day08" }
day09-test = { cmd = "ipython -i disk_fragmenter.py -- --test", cwd = "day09" }
day09 = { cmd = "ipython -i disk_fragmenter.py -- -f input.txt", cwd = "day09" }
day10-test = { cmd = "ipython -i hoof_it.py -- --test", cwd = "day10" }
day10 = { cmd = "ipython -i hoof_it.py -- -f input.txt", cwd = "day10" }

[tool.pixi.dependencies]
ipython = ">=8.30.0,<9"
numpy = ">=2.1.3,<3"
pandas = ">=2.2.3,<3"
duckdb = ">=1.1.3,<2"
tqdm = ">=4.67.1,<5"

[tool.basedpyright]
include = ["day*"]
typeCheckingMode = "standard"

